*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sanserif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: navy;
}
.container{
    max-width: 500px;
    background: #fff;
    border-radius: 7px;
    padding: 20px 25px 15px;
}
h1{
    font-size: 27px;
    font-weight: 500;
}
p{
    margin-top: 5px;
    font-size: 18px;
    color: #474747;
    text-align: center;
}
.inputs{
    margin: 20px 0 27px;
}
.inputs label{
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}
.inputs input{
    width: 100%;
    height: 60px;
    outline: none;
    font-size: 25px;
    padding: 0 17px;
    border-radius: 5px;
    border: 1px solid #999;
    margin: 10px;
}
button{
    width: 100%;
    opacity: 1;
    height: 56px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
    background: darkblue;
}
#message{
    font-size: 19px;
    text-align: center;
    margin-bottom: 18px;
}
#error{
    margin-top: 5px;
    width: 345px;
    font: 18px;
    color: #C62828;
    background: rgba(255, 0, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
}
.hide{
    display: none;
}